<div class="bg-image">
    <div class="bg-mask">
        <div class="bg-text">
            <h1>Welcome to the YourProtein App</h1>
            <h2>Share your favorite protein for muscle!</h2>
            <div class= "selectors">
                <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary first-btn" %>
                <%= link_to "Log in", login_path, class: "btn btn-lg btn-success" %>
            </div>
        </div>
    </div>
  </div>