<% provide(:title, "About") %>
<h1>About</h1>
<h3>Concept</h3>
<p>･This is an application after studying the Ruby on Rails tutorial.</p>
<p>･A purpose is to promote the knowledge that I learned through the Ruby on Rails
tutorial.</p>
<p>･You can share training items you would recommend freely, for example protein for muscles,
 supplyments, sports wear, and so on.</p>
 <br>
<h3>Functions</h3>
<p>･login / logout</p>
<p>･make comments for training items</p>
<p>･follow / unfollow users</p>
<p>･like comments</p>
<p>･search users and comments</p>
<br>
<h3>The following functions will be added.</h3>

<p>･replying to comments</p>
<p>･displaying only liked comments</p>