<% provide(:title, "About") %>
<h1>About</h1>
<p style="font-size: x-large;">concept</p>
<p>･This is an application after studying the Ruby on Rails tutorial.</p>
<p>･A purpose is to promote the knowledge that I learned through Ruby on Rails
tutorial.</p>
<p>･You can share your favorite training items freely, for example protein for muscles,
 supplyment, wear, and so on.</p>
 <br>
<p style="font-size: x-large;">Functions</p>
<p>･login / logout</p>
<p>･make comments for training items</p>
<p>･follow / unfollow users</p>
<p>･like comments</p>
<p>･search users and comments</p>
<br>
<p style="font-size: x-large;">If possible, the following functions will be added.</p>

<p>･replying to comments</p>
<p>･displaying only liked comments</p>