<div class="bg-image">
    <div class="bg-mask">
        <div class="bg-text">
            <h1>Welcome to the Yourprotein App</h1>
            <h2>Share your favorite protein for muscle!</h2>
            <div style="text-align: center;">
                <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
                <%= link_to "Log in", login_path, class: "btn btn-lg btn-success" %>
            </div>
        </div>
    </div>
</div>

<!--画像はバックグラウンドで全面表示-->
<!--bodyタグ内は全て中央寄せにする-->