<li>
  <%= avatar_for user, size: "50x50" %>
  <%= link_to user.name, user %>
  <!--current_userがadminかつcurrent_userとuserの値が一致しない場合-->
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
  <p><%= user.profile %></p> 
</li>