<% provide(:search_name, users_path) %>
<% provide(:title, 'ユーザー一覧') %>
<h1>ユーザー一覧</h1>

<%= will_paginate %>

<ul class="users">
  <!--Railsは@usersをUserオブジェクトのリストであると推測する-->
    <%= render @users %>
</ul>

<%= will_paginate %>