<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Home",   '#' %></li>
      <li><%= link_to "Help",   '#' %></li>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
    
    <p>
    Copyright © Yuki Aida, All Rights Reserved.
    </p>
  </nav>
</footer>